/*Selector {
    Property: value;
}*/
body {
    background-image: url(background.png);
    background-size: cover;
}      

h2 {
    color: red;
    text-align: center;
    border: 5px dashed gold;
    cursor: pointer;
}
p {
    color:palevioletred;
}

p {
    color: black;
}
li{
    list-style: none;
    display: inline-block;
}


